<mat-toolbar role="heading">
  <span>EMMANUEL</span>
  <span class="example-spacer"></span>
  <div *ngIf=" currentScreenSize == 'Large' || currentScreenSize == 'XLarge' || currentScreenSize == 'Medium'">

    <button mat-button>About Me</button>
    <button mat-button>Projects</button>
    <button mat-button>Services</button>
    <button mat-button>Skills</button>
    <button mat-button>Contact</button>
  </div>


  <button mat-button [matMenuTriggerFor]="menu" *ngIf=" currentScreenSize == 'Small' || currentScreenSize == 'XSmall' ">
    <mat-icon>menu</mat-icon>
  </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>About Me</button>
      <button mat-menu-item>Projects</button>
      <button mat-menu-item>Services</button>
      <button mat-menu-item>Skills</button>
      <button mat-menu-item>Contact</button>
    </mat-menu>

</mat-toolbar>



