.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.logo{
    width:2vw;
    margin:1vw;
}



@media (max-width:599px){
  .logo {
    width: 8vw;
    margin: 1vw;
  }

}
