*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}


.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.row{
    display:flex;
}
.col {
  width: 100%;
}

.welcome {
  padding: 200px 0;
  background-color: #7e997f;
  color: whitesmoke;
}
.welcome-text {
  padding: 1em;
  width:81%

}

h2{
    font-size:2rem;
}

.mat--divider{
    background-color:aliceblue;
    width:40%;
}
.backgorund-img{
   background-position:center;
   z-index: 0;
   width:100%;
   background-blend-mode:hard-light;
}


img {
  max-width: 100%;
}

.profile-photo {
  border-radius: 10%;
  width: 19%;
  align-self: flex-start;
  border: 5px solid whitesmoke;
  box-shadow: #000000b5 7px 7px 14px;
}

.contact-button{
    width:20%;
}


