<app-navbar>
</app-navbar>
<section class="welcome section" id="home">
  <div class="row container">
    <div class="welcome-text">
      <h2>HELLO, I'M</h2>
      <h1>EMMANUEL NUÑO</h1>
      <mat-divider class="mat--divider"></mat-divider>
      <h2>COMPUTER ENGINEER</h2>
      <a mat-raised-button class="contact-button" href="mailto:enunospace@gmail.com">Contact</a>
    </div>
    <img src="../assets/EmmaneulProfile.jpg" alt="Emmanuel Profile Photo" class="profile-photo" />
  </div>
</section>
<app-aboutme></app-aboutme>
<app-projects></app-projects>
<app-skills></app-skills>
