<app-navbar>
</app-navbar>
<section class="welcome section">
  <div class="row container">
    <div class="welcome-text">
      <h1>WELCOME!</h1>
      <h2>I'M EMMANUEL NUÑO</h2>
      <mat-divider class="mat--divider"></mat-divider>
      <h3>COMPUTER ENGINEER</h3>
      <button mat-raised-button  class="contact-button">Contact</button>
    </div>
    <img src="../assets/EmmaneulProfile.jpg" alt="Emmanuel Profile Photo" class="profile-photo"/>
  </div>
</section>
<app-aboutme></app-aboutme>
<app-projects></app-projects>




