<section class="about-me section" id="about-me">
  <div class="row container">
    <h2>ABOUT ME</h2>
    <div class="description">
      <p>
        I'am a creative Software Developer with Background in Computer Engineer.
      </p>
      <br />
      <p>
        I offer services related to software development and web development, with a passion for what I'm creating.
        I love to learn new things and enjoy the learning journey!
      </p>
      <p>
        When I'm not at work I like to spend time with my loved ones, surfing, cooking, reading, and road trips.
      </p>
      <br />
      <p>
        If you have a project for me or want to request a quote, write to me!
      </p>
      <br />
      <button mat-raised-button class="contact-button" (click)="downloadMyCv()">
        <mat-icon>description</mat-icon>
        Download my CV
      </button>
    </div>

  </div>


</section>

