/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  text-rendering: optimizeSpeed !important;
  scroll-behavior: smooth;
}

p {
  font-size: 1rem !important;
  color: #413f3f;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem !important;
}

h1 {
  font-size: 3vw !important;
  margin-top: 2vw !important;
}


h2 {
  font-size: 2vw !important;
  margin-top:1vw !important;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content:space-between;
}

.section {
  padding: 100px 0;
}

.contact-button {
  width: 30%;
  padding:2.7% !important;
}


@media (max-width: 599px){
    h1{
      font-size:7vw !important; 
    }

    h2{
        font-size: 5vw !important;
    }
    .row{
        display:block;
    }

    mat-toolbar {
      background-color: #333 !important;
      color: whitesmoke !important;
      transition: ease-in 0.3s !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust shadow for the scrolled state */
    }

    mat-divider{
        width:100% !important;
    }

  .contact-button {
    width: 90%;
    padding: 6% !important;
  }

    .description{
        width:95% !important;
    }

    .container {
      width:95%;
      max-width: 1100px;
      margin: 0 1em;
    }


}

.description {
  width: 60%;
  max-width: 900px;
}





