.email{
    display:flex !important;
}

.email-box {
  background-color: #ebedee;
  border-radius:3px;
  width: 40%;
}

.email-box{
    padding:1em;
}

.copy-button{
    width:20%;
    margin-left:.5em;
    padding:1.8em;
}

@media (max-width:599px){
    .email-box{
        width:100%
    }
}
