.projects {
  background-image: linear-gradient(to bottom right, #bfdeeb, #ededed);
}

.project-card{
    max-width:400px;
}

.project-card-img{
    max-width:350px;
}

.projects-subtitle{
}


.more-projects-button{
    align-self:center;
    margin: 5em 45em;
    width:20%;
}

p{
    font-size:1rem !important;
}
