<section class="projects section" id="projects">
  <div class="row container">
    <h2>PROJECTS</h2>
    <div class="description">

        <mat-card class="project-card">
          <mat-card-header>
            <mat-card-title>CodePretzel</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a href="https://www.codepretzel.org">
              <img mat-card-image src="../../../assets/CodePretzelWebsite.png" alt="code pretzel webiste" class="project-card-img">
            </a>
            <p>A Embedded system community on Discord, a place where you can share your knowledge and lear from other professionals.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="project-card">
          <mat-card-header>
            <mat-card-title>SATIT</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <a href="https://hr.emmanuelnuno.com/">
              <img mat-card-image src="../../../assets/HR-LoginPage.png" alt="code pretzel webiste" class="project-card-img">
            </a>
            <p>System to consult employee's payroll information and manage requests of material and permissions. </p>
          </mat-card-content>
        </mat-card>
      <br />
      <a mat-raised-button class="contact-button" href="#">More projects</a>
    </div>
  </div>
</section>
