.projects {
  background-image: linear-gradient(to bottom, #bfdeeb, #ededed);
}

.project-card{
    width:90%;
    max-width:400px;
    margin: 1em;
}

.project-card-img{
    max-width:100%;
}


.button{
    text-align:center;
}

mat-card{
    margin:0 0 1em!important;
}
